<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PoorStory-Regular.ttf</string>
		<string>HiMelody-Regular.ttf</string>
		<string>Gaegu-Light.ttf</string>
		<string>Gaegu-Regular.ttf</string>
		<string>Gaegu-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>customP4</string>
		<key>UIImageName</key>
		<string>launch_img</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
